/*
 * Styles Globals
 */

/*
 * Body Style
 */
body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

/*
 * Container style
 */
.container {
	/* Atributes values container */
	margin: 30px auto;
	margin-bottom:30px;
	max-width: 1000px;
	margin-left: auto;
	
}

/* Strong Styles */
strong {
	font-weight: bold;
}
